/******TODO******/
/*  fix images  */
/*  finalize responsive  */
/*  animate menu  */
/*  add content  */
/*  refactor code  */
/*  go live!  */


/**********GENERAL STYLES************/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito";
  font-weight: 300;
}

a {
  color: #f1fffa;
  text-decoration: none;
}

a:hover {
  color: #5bc0be;
}

ul {
  list-style-type: none;
}

h2 {
  padding-bottom: 20px;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
}

h3 {
  font-size: 1.2rem;
  font-weight: 300;
}

h5{
  color: #0b132b;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: 500;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.wrapper > * {
  grid-column: 3 / 11;
}

.about > * {
  grid-column: 2 / 12;
}



/************NAVIGATION***************/
/* 
nav {
  text-align: left;
  font-size: 1.2rem;
  display: block;
  animation-name: fade;
  animation-duration: 2500ms;
}

.nav{
  background: #222833;
  padding: 5px 0 5px 0;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 10;
  box-shadow: 1px 1px 2px black;
}

.nav li {
   padding: 5px 10px 5px 10px;
   max-width: 100%;
}

.logo {
   font-size: 1.8rem;
   letter-spacing: 3px;
}

button {
  background: none;
  border: none;
  float: right;
  top: 0;
}

button:focus {
  outline: none;
}

.nav .fas:hover {
  color: #d14067;
}

.fa-bars {
  font-size: 2rem;
  margin-right: 30px;
  color: #5bc0be;
  position: relative;
  z-index: 2;
  bottom: 40px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background: #222833;
  padding-bottom: 10px;
  top: 50px;
  text-transform: uppercase;
} 

.show {
  display: block;
  text-align: center;
  width: 100%;
}

.dropdownContent li {
  padding-top: 6px;
  border: 1px solid transparent;
}


.dropdownContent li:hover {
  animation-name: hover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.dropdownContent a:hover {
  color: #d14067;
}

.dropdownContent a:active {
  color: #d14067;
} */


/*******NEW STYLES HERE ************/

:root {
  --background: rgba(34, 40, 51, 0.94);
}

nav {
  background: var(--background);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

h3.logo{
  padding: 5px;
}

#logo {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.navbar {
  position: absolute;
  text-align: left;
  top: 100%;
  width: 100%;
  left: 0;
  background: var(--background);
  /* display: none; */
  transform: scale(1, 0);
  transition: transform 400ms ease-in-out;
  transform-origin: top;
}

nav li {
  margin-bottom: 1rem;
  margin-left: 1rem;
  transition: opacity 150ms ease-in-out 250ms;
}

nav a {
  font-size: 1.1rem;
  text-transform: uppercase;
  opacity: 0;
}

nav a:hover {
  color: #d14067; 
}

.show {
  display: block;
  transform: scale(1, 1);
  
}

.fade {
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

.nav-toggle {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  background: transparent;
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}



/************LANDING PAGE**************/

.cover {
  margin-top: 0;
  display: grid;
  background: #101319;
  width: 100%;
  height: 100vh;
  color: #f1fffa;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('https://images.unsplash.com/photo-1502900476531-ca62d0f2b679?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

span {
  color: #5bc0be;
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  display: inline;
}

.cover h1 {
  margin: 300px 20px 10px 20px;
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: 200;
  font-size: 2rem;
  animation-name: fade;
  animation-duration: 2500ms;
}

.cover p {
  text-align: center;
  font-size: 1.3rem;
  animation-name: fade;
  animation-duration: 2500ms;
  font-weight: 200;
}


/***************ABOUT****************/

.about {
  background: #f4f4f4;
  color: #444545;
  margin: 0;
  font-size: 1.2rem;
  grid-column: 2 / 12;
}

.about .wrapper {
  background: white;
}

.image {
  margin-top: 120px;
}

img {
  display: grid;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  border-radius: 50%;
}

.about h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}


/***************SKILLS****************/

.skills {
  background: #f4f4f4;
  padding: 60px 0 60px 0;
  color: #0b132b;
  font-size: 1.2rem;
  text-align: center;
}

.fa-laptop-code {
  display: grid;
  text-align: center;
  font-size: 8rem;
  color:#5bc0be;
  margin-bottom: 30px;
}

.skills h2 {
  margin-bottom: 50px;
}

.skills ul {
  margin-top: 10px;
  margin-bottom: 30px;
}

.tech li {
  padding: 8px;
  font-size: 1.1rem;
  font-weight: 100;
}

.tech .fab {
  font-size: 1.5rem;
  color: black;
}


/***************PROJECTS****************/


.grid {
  display: grid;
  margin-bottom: 60px;
  grid-gap: 1em;
}

.work {
  background:  #f4f4f4;
  color: #0b132b;
}

.work h2 {
  padding-top: 120px;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}

.hover {
  position: relative;
  width: 100%;
  padding: 10px 0 1px 0;
}

.hover img {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
}

.hover:hover img {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.3;
}

.hover a.link {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color:#0b132b;
}

.hover:hover .proj {
  opacity: 0.3;
}

.hover:hover .overlay {
  opacity: 1;
}

.proj {
  border-radius: 0px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  width: 90%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  font-size: 1.1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  padding-bottom: 25px;
  color:#0b132b;
}

.link {
  width: 60%;
  border: 1px solid #0b132b;   
  padding: 8px;
  font-size: 1.1rem;
}

.link:hover {
  box-shadow: 0 0 8px #0b132b;
}



/***************CONTACT****************/

.contact {
  background: #222833;
  padding: 60px 0 60px 0;
  color: #f1fffa;
  text-align: center;
  padding-bottom: 20px;
}

.contact h2 {
  padding-top: 80px;
}

.contact h3 {
  font-size: 1.6rem;
}

.contact p {
  padding: 20px 10px;
  font-size: 1.3rem;
}

.email a {
  color: #5bc0be;
  font-size: 1.4rem;
  font-weight: 500;
  border: 1px solid #5bc0be;
  padding: 10px;
}

.email {
  margin-bottom: 25px;
}

.email a:hover {
  color: white;
  background: #d14067;
  border: 1px solid #d14067;
  animation-name: hover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.contact h4 {
  padding-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 300;
}

.social {
  font-size: 2rem;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-column: 4 / 10;
  padding-bottom: 10px;
}

.social .fab{
  color: #5bc0be;
}

.social .fab:hover {
  color: #d14067;
  animation-name: hover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.copyright p {
  padding: 30px 0 30px 0;
  border-top: 1px solid rgba(255,255,255,0.3);
  font-size: 1rem;
  color: rgba(255,255,255,0.2);
}

/************KEYFRAMES******************/

@keyframes fade {
  0%{
    opacity: 0.1;
  }
}

@keyframes hover {
  0%{
    opacity: 0.1;
  }
  50%{
    opacity: 0.6;
  }
  100%{
    opacity: 1.0;
  }
}


/***********MEDIA QUERIES***************/

@media (min-width: 768px){
  .nav-toggle {
    display: none;
  }
  nav{
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
  }
  .logo {
    grid-column: 2 / span 1;
  }
  .navbar {
    all: unset; /*not working on some browsers!!*/
    grid-column: 3 / 4;
  }
  nav a {
    opacity: 1;
  }
  
  /* nav {
    text-align: center;
  }
  
  .nav {
    height: 53px;
  }
  .dropdownContent {
    background: transparent;
    position: static;
  }
  #dropdown {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24%;
    font-size: 1.2rem;
    padding: 0 50px 0 0;
    margin-top: 5px;
  }
  .nav li {
    padding: 6px 10px 0 10px;
 }
  .logo {
    font-size: 2.2rem;
    float: left;
  } */
  h2 {
    font-size: 3.2rem;
    padding-bottom: 40px;
  }
  .cover h1{
    font-size: 3.5rem;
  }
  span {
    font-size: 5rem;
  }
  .cover p {
    font-size: 2rem;
  }
  .about h2 {
    margin-top: 0;
  }
  .about img {
    float: left;
  }
  .fa-laptop-code {
    padding-top: 8px;
  }
  .front {
    grid-column: 3 / 7;
  }
  .back {
    grid-column: 7 / 11;
  }
  .skills h3 {
    font-size: 1.8rem;
  }
  .contact h3 {
    font-size: 1.8rem;
  }
  .contact h4 {
    font-size: 1.6rem;
  }
  .email a {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .social {
    font-size: 2.3rem;
  }
}

@media (min-width: 900px){
  .grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 90px;
  }
}

@media (min-width: 1130px) {
  .cover h1 {
    font-size: 4rem;
  }
  h1 span {
    font-size: 6rem;
  }
  h2 {
    font-size: 3.5rem;
    padding-bottom: 60px;
  }
  .about h2 {
    margin-top: 0;
  }
  .nav {
    height: 55px;
  }
  .logo {
    font-size: 2.2rem;
    }
  #dropdown {
    grid-column-gap: 50%;
  }
  span.logo{
    grid-column: 3 / 4;
  }
  img {
    width: 320px;
  }
  .about {
    font-size: 1.4rem;
  }
  .skills h3{
    font-size: 2rem;
    padding-bottom: 20px;
  }
  .skills ul {
    font-size: 1.5rem;
  }
  .skills li {
    padding: 15px;
  }
  .front {
    grid-column: 3 / 7;
  }
  .back {
    grid-column: 7 / 11;
  }
  h5 {
    font-size: 2rem;
  }
  .social {
    font-size: 2.5rem;
  }
}
