/******TODO******/
/*  fix images  */
/*  add grid properties  */
/*  finalize responsive  */
/*  animate menu  */
/*  add content  */
/*  refactor code  */
/*  go live!  */


/**********GENERAL STYLES************/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito";
  font-weight: 300;
}

a {
  color: #f1fffa;
  text-decoration: none;
}

a:hover {
  color: #5bc0be;
}

ul {
  list-style-type: none;
}

h2 {
  padding-bottom: 20px;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
}

h3 {
  font-size: 1.2rem;
  font-weight: 300;
}

h5{
  color: #0b132b;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: 300;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.wrapper > * {
  grid-column: 3 / 11;
}

/************NAVIGATION***************/

nav {
  text-align: center;
  font-size: 1.2rem;
  display: block;
  animation-name: fade;
  animation-duration: 2500ms;
}

.nav{
  padding-top: 15px;
}

.nav li {
   padding: 5px 10px 5px 10px;
   max-width: 100%;
}

.logo{
   font-size: 2rem;
   padding-top: 300px;
}

.dropdownContent li {
  margin-top: 6px;
  border: 1px solid transparent;
}

.dropdownContent li:hover {
  animation-name: hover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.dropdownContent a:hover {
  color: #d14067;
}


/************LANDING PAGE**************/

.cover {
  margin-top: 0;
  display: grid;
  background: #101319;
  width: 100%;
  height: 100vh;
  color: #f1fffa;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('https://images.unsplash.com/photo-1502900476531-ca62d0f2b679?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

span {
  color: #5bc0be;
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  display: inline;
}

.cover h1 {
  margin: 20px;
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: 200;
  font-size: 2rem;
  padding-top: 12vh;
  animation-name: fade;
  animation-duration: 2500ms;
}

.cover p {
  text-align: center;
  font-size: 1.3rem;
  animation-name: fade;
  animation-duration: 2500ms;
  font-weight: 200;
}

/***************ABOUT****************/

.about {
  background: #fcfcfc;
  color: #444545;
  margin: 0;
  padding: 60px 0 60px 0;
  font-size: 1.2rem;
}

img {
  display: grid;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  border-radius: 50%;
}

.about h2 {
  margin-top: 30px;
}

/***************SKILLS****************/

.skills {
  background: #fff;
  padding: 60px 0 60px 0;
  color: #0b132b;
  font-size: 1.2rem;
  text-align: center;
}

.fa-laptop-code {
  display: grid;
  text-align: center;
  font-size: 8rem;
  color:#5bc0be;
  margin-bottom: 30px;
}

.skills h2 {
  margin-bottom: 50px;
}

.skills ul {
  margin-top: 10px;
  margin-bottom: 30px;
}

.tech li {
  padding: 8px;
  font-size: 1.1rem;
  font-weight: 100;
}

.tech .fab {
  font-size: 1.5rem;
  color: black;
}

/***************PROJECTS****************/


.grid {
  display: grid;
  margin-bottom: 60px;
  grid-gap: 4em;
}

.work {
  background:  #f4f4f4;
  color: #0b132b;
}

.work h2 {
  padding-top: 60px;
}

.hover {
  position: relative;
  width: 100%;
  padding: 10px 0 1px 0;
}

.hover img {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
}

.hover:hover img {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.3;
}

.hover a.link {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color:#0b132b;
}

.hover:hover .proj {
  opacity: 0.3;
}

.hover:hover .overlay {
  opacity: 1;
}

.proj {
  border-radius: 0px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  width: 90%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  font-size: 1.1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  padding-bottom: 25px;
  color:#0b132b;
}

.link {
  width: 60%;
  border: 1px solid #0b132b;   
  padding: 8px;
  font-size: 1.1rem;
}

.link:hover {
  box-shadow: 0 0 8px #0b132b;
}



/***************CONTACT****************/

.contact {
  background: #222833;
  padding: 60px 0 60px 0;
  color: #f1fffa;
  text-align: center;
  padding-bottom: 20px;
}

.contact h3 {
  font-size: 1.6rem;
}

.contact p {
  padding: 20px 10px;
  font-size: 1.3rem;
}

.email a {
  color: #5bc0be;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;
}

.email a:hover {
  color: #d14067;
  animation-name: hover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.contact h4 {
  padding-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 300;
}

.social {
  font-size: 2rem;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-column: 4 / 10;
  padding-bottom: 10px;
}

.social .fab{
  color: #5bc0be;
}

.social .fab:hover {
  color: #d14067;
  animation-name: hover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.copyright p {
  padding: 30px 0 30px 0;
  border-top: 1px solid rgba(255,255,255,0.3);
  font-size: 1rem;
  color: rgba(255,255,255,0.2);
}

/************KEYFRAMES******************/

@keyframes fade {
  0%{
    opacity: 0.1;
  }
}

@keyframes hover {
  0%{
    opacity: 0.1;
  }
  50%{
    opacity: 0.6;
  }
  100%{
    opacity: 1.0;
    /* border-top: 1px solid #d14067;
    border-bottom: 1px solid #d14067; */
  }
}


/***********MEDIA QUERIES***************/

@media (min-width: 768px){
  h2 {
    font-size: 3.2rem;
    padding-bottom: 40px;
  }
  .cover h1{
    font-size: 3.5rem;
  }
  span {
    font-size: 5rem;
  }
  .cover p {
    font-size: 2rem;
  }
  #dropdown {
    margin-top: 20px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-column-gap: 40%;
    font-size: 1.4rem;
  }
  .about h2 {
    margin-top: 0;
  }
  .fa-laptop-code {
    padding-top: 8px;
  }
  .front {
    grid-column: 3 / 7;
  }
  .back {
    grid-column: 7 / 11;
  }
  .skills h3 {
    font-size: 1.8rem;
  }
  .grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 4em;
    margin-bottom: 90px;
  }
  .social {
    font-size: 2.3rem;
  }
}

@media (min-width: 1130px) {
  .cover h1 {
    font-size: 4rem;
  }
  h1 span {
    font-size: 6rem;
  }
  h2 {
    font-size: 3.5rem;
    padding-bottom: 60px;
  }
  .about h2 {
    margin-top: 0;
  }
  .logo {
    font-size: 3rem;
  }
  /* #dropdown {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-column-gap: 70%;
    padding-top: 20px; 
  }*/
  .nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  span.logo{
    grid-column: 3 / 4;
  }
  img {
    width: 320px;
  }
  .about {
    font-size: 1.4rem;
  }
  .skills h3{
    font-size: 2rem;
    padding-bottom: 20px;
  }
  .skills ul {
    font-size: 1.5rem;
  }
  .skills li {
    padding: 15px;
  }
  .front {
    grid-column: 3 / 7;
  }
  .back {
    grid-column: 7 / 11;
  }
  h5 {
    font-size: 2rem;
  }
  .social {
    font-size: 2.5rem;
  }
}
