* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Nunito;
}

a {
  color: #f1fffa;
  text-decoration: none;
}

a:hover {
  color: #5bc0be;
}

ul {
  list-style-type: none;
}

nav {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}
 .nav li {
   padding: 10px;
 }

 button {
   background: none;
   border: none;
   float: right;
 }

 button:focus {
   outline: none;
 }

 .fas:hover {
   color: #f1fffa;
 }

 .fa-bars {
   font-size: 2.2rem;
   float: right;
   margin-right: 50px;
   margin-top: 6px;
   color: #5bc0be;
 }

 .dropdownContent {
   display: none;
   /* position: fixed; */
   box-shadow: 0 10px 20px rgba(0, 0, 0, .0), 0 6px 6px rgba(0, 0, 0, 0.1);
 }

 .show {
   display: block;
   left: 40%;
   top: 10%;
 }

 .show li:hover {
   /* background: #0b132b; */
   background: rgba(0, 0, 0, 0.4);
 }

 .show .border {
   border-top: 1px solid #5bc0be;
 }


.cover {
  margin-top: 0;
  background: #0b132b;
  width: 100%;
  height: 100vh;
  color: #f1fffa;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('https://images.unsplash.com/photo-1502900476531-ca62d0f2b679?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

span {
  color: #5bc0be;
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
}

.logo {
  font-size: 3rem;
  float: left;
}

.cover h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 38vh;
}

.about {
  background: #b5ffe9;
  color: #444545;
  margin: 0;
  padding: 50px;
  font-size: 1.2rem;
}

img {
  display: grid;
  justify-content: center;
  width: 60%;
  border-radius: 50%;
  margin: 0 auto;
}

.about h2 {
  margin-top: 30px;
}

h2 {
  padding-bottom: 20px;
  font-size: 2rem;
}

.skills {
  background: #f1fffa;
  padding: 50px;
  color: #0b132b;
  font-size: 1.2rem;
  text-align: center;
}

.skills h2 {
  margin-bottom: 30px;
}

.skills ul {
  padding-top: 10px;
}

.fa-laptop-code {
  display: grid;
  text-align: center;
  font-size: 8rem;
  color:#5bc0be;
  margin-bottom: 20px;
}

.fa-laptop-code:hover {
  color:#5bc0be;
}

.front li {
  padding: 8px;
}

.work {
  background: #0b132b;
  padding: 50px;
  color: #f1fffa;
}

.project1 {
  background: #f1fffa;
  padding: 40px;
  margin: 10px;
}

.work div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact {
  background: #5bc0be;
  padding: 50px;
  color: #f1fffa;
  text-align: center;
  padding-bottom: 20px;
}

.contact h3 {
  font-size: 2rem;
}

.contact h4 {
  padding-bottom: 40px;
  font-size: 1.5rem;
}

.contact p {
  padding: 30px 10px;
  font-size: 1.3rem;
}

.email a {
  color: #0b132b;
}

.email a:hover {
  color: #f1fffa;
}

.social {
  font-size: 2rem;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 40px;
}

.fab {
  color: #0b132b;
}

.fab:hover {
  color: #f1fffa;
}

.copyright {
  padding-top: 10px;
  border-top: 1px solid lightgray;
}

@media (min-width: 768px){
  h2 {
    font-size: 2.5rem;
  }
  .about h2 {
    margin-top: 0;
  }
  .nav {
    margin-right: 150px;
  }
  #dropdown {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-column-gap: 20%;
  }
  .logo {
    font-size: 2rem;
    padding: 10px;
  }
  .fa-bars {
    display: none;
  }
  .about {
    display: inline-grid;
    grid-template-columns: 1fr 7fr;
    justify-content: center;
    grid-column-gap: 5%;
  }
  img {
    width: 300px;
  }
  .fa-laptop-code {
    padding-top: 8px;
  }
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .skills h3 {
    font-size: 1.8rem;
  }
  .skills ul {
    font-weight: 300;
  }
}
@media (min-width: 1130px) {
  .cover h1 {
    font-size: 4rem;
  }
  h1 span {
    font-size: 6rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  .about h2 {
    margin-top: 0;
  }
  .nav {
    margin-right: 25px;
  }
  .logo {
    font-size: 2.5rem;
    padding: 10px;
  }
  #dropdown {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-column-gap: 50%;
    font-size: 1.6rem;
  }
  img {
    width: 320px;
  }
  .about {
    font-size: 1.4rem;
  }
}
